<form action="" method="POST">
    <table>
        <tbody>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>
                    <input type="text" name="address" value="<%= userInfo.address %>" required>
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>:</td>
                <td>
                    <input type="number" name="phone" value="<%= userInfo.phone %>" required>
                </td>
            </tr>
            <tr>
                <td>Bio</td>
                <td>:</td>
                <td>
                    <input type="text" name="bio" value="<%= userInfo.bio %>">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>            
            
            
            
